.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store

*.RData
*.rds
*.Rds

# Compiled objects / shared libraries
src/*.o
src/*.so
src/*.dll
*.o
*.so
*.dll

# Test-run artifacts
tests/testthat/Rplots.pdf
Rplots.pdf
